In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('UCI_Credit_Card.csv')
df

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [ ]:
df.drop(['ID'],axis=1, inplace=True)

In [ ]:
X = df.drop('default.payment.next.month',axis=1).values
y = df['default.payment.next.month'].values

In [ ]:
from imblearn.combine import SMOTEENN
smote_kmeans = SMOTEENN()
X_smotekmeans, y_smotekmeans = smote_kmeans.fit_resample(X, y)

In [ ]:
from collections import Counter
print("Before SMOTE :" , Counter(y))
print("After SMOTE :" , Counter(y_smotekmeans))

Before SMOTE : Counter({0: 23364, 1: 6636})
After SMOTE : Counter({1: 17125, 0: 10360})

In [ ]:
pip install sklearn-genetic

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting sklearn-genetic
  Downloading sklearn_genetic-0.5.1-py3-none-any.whl (11 kB)
Collecting multiprocess
  Downloading multiprocess-0.70.14-py38-none-any.whl (132 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 132.0/132.0 KB 5.9 MB/s eta 0:00:00
Collecting deap>=1.0.2
  Downloading deap-1.3.3-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.9/139.9 KB 14.8 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn>=0.23 in /usr/local/lib/python3.8/dist-packages (from sklearn-genetic) (1.0.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from sklearn-genetic) (1.22.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.23->sklearn-genetic) (3.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.23->sklearn-genetic) (1.7.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.23->sklearn-genetic) (1.2.0)
Requirement already satisfied: dill>=0.3.6 in /usr/local/lib/python3.8/dist-packages (from multiprocess->sklearn-genetic) (0.3.6)
Installing collected packages: multiprocess, deap, sklearn-genetic
Successfully installed deap-1.3.3 multiprocess-0.70.14 sklearn-genetic-0.5.1

In [ ]:
from sklearn import linear_model
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesClassifier

from genetic_selection import GeneticSelectionCV
estimator = ExtraTreesClassifier()

selector = GeneticSelectionCV(estimator,cv=5,
                                  verbose=1,
                                  scoring="r2", 
                                  max_features=10,
                                  n_population=50,
                                  crossover_proba=0.5,
                                  mutation_proba=0.2,
                                  n_generations=40,
                                  crossover_independent_proba=0.5,
                                  mutation_independent_proba=0.05,
                                  tournament_size=3,
                                  n_gen_no_change=10,
                                  caching=True,
                                  n_jobs=-1)
selector = selector.fit(X_smotekmeans, y_smotekmeans)

Selecting features with genetic algorithm.
gen	nevals	avg                            	std                            	min                            	max
0  	50    	[ 0.24603   5.96      0.348458]	[ 0.355705  3.039474  0.145719]	[-0.885522  1.        0.033296]	[  0.633926  10.         0.959277]
1  	20    	[-599.515137    8.56      600.286027]	[ 2374.990918     1.710672  2374.796155]	[-10000.            4.            0.116867]	[     0.637334     13.        10000.      ]
2  	29    	[-799.451038    9.14      800.249454]	[ 2713.093874     1.183385  2712.858434]	[-10000.            7.            0.178445]	[     0.659642     12.        10000.      ]
3  	28    	[-1999.507199     9.6       2000.206823]	[ 4000.246401     1.356466  3999.896589]	[-10000.            6.            0.158636]	[     0.659642     13.        10000.      ]
4  	34    	[-799.427047    9.46      800.218835]   	[ 2713.100948     1.043264  2712.867463]	[-10000.            7.            0.067876]	[     0.672656     12.        10000.      ]
5  	29    	[-1199.43681      9.66      1200.176176]	[ 3249.823334     0.992169  3249.550305]	[-10000.            7.            0.067876]	[     0.683965     12.        10000.      ]
6  	28    	[-999.411261    9.68     1000.152513]   	[ 3000.196247     1.047664  2999.949163]	[-10000.            6.            0.049798]	[     0.700541     13.        10000.      ]
7  	38    	[-1399.42968     9.58     1400.12594]   	[ 3470.100423     1.040961  3469.819501]	[-10000.            7.            0.065245]	[     0.701626     12.        10000.      ]
8  	41    	[-1599.435093     9.58      1600.114595]	[ 3666.307102     1.040961  3666.010543]	[-10000.            7.            0.055561]	[     0.7024     12.      10000.    ]
9  	31    	[-799.368866    9.8       800.120479]   	[ 2713.118105     0.959166  2712.896466]	[-10000.            7.            0.066602]	[     0.704104     13.        10000.      ]
10 	26    	[-1399.405054    10.06      1400.106213]	[ 3470.110359     0.785111  3469.827461]	[-10000.            8.            0.068176]	[     0.704104     13.        10000.      ]
11 	29    	[-1799.430114    10.04      1800.096727]	[ 3842.141546     0.915642  3841.829224]	[-10000.            8.            0.057494]	[     0.704104     12.        10000.      ]
12 	21    	[-1399.400503    10.02      1400.096649]	[ 3470.112196     0.761315  3469.831319]	[-10000.            8.            0.081884]	[     0.710456     12.        10000.      ]
13 	33    	[-1399.403982     9.94      1400.089576]	[ 3470.110792     0.75921   3469.834173]	[-10000.            8.            0.025481]	[     0.721145     12.        10000.      ]
14 	34    	[-599.341008    9.96      600.088844]   	[ 2375.034909     0.397995  2374.845972]	[-10000.            9.            0.079187]	[     0.721145     11.        10000.      ]
15 	30    	[-1199.386371     9.96      1200.07772 ]	[ 3249.841959     0.773563  3249.586662]	[-10000.            8.            0.032459]	[     0.725638     13.        10000.      ]
16 	35    	[-1199.378427     9.94      1200.076949]	[ 3249.844893     0.675574  3249.586946]	[-10000.            8.            0.064899]	[     0.725638     12.        10000.      ]
17 	33    	[-1399.387713     9.94      1400.074736]	[ 3470.117356     0.704557  3469.840161]	[-10000.            8.            0.020713]	[     0.725948     12.        10000.      ]
18 	30    	[-999.356562    9.98     1000.077934]   	[ 3000.214479     0.547357  2999.974022]	[-10000.            9.            0.073363]	[     0.725948     12.        10000.      ]
19 	29    	[-199.297042    9.84      200.085707]   	[ 1400.100423     0.504381  1399.987756]	[-10000.            8.            0.077814]	[     0.729976     11.        10000.      ]
20 	23    	[-599.325287    9.92      600.074414]   	[ 2375.038881     0.44      2374.849617]	[-10000.            9.            0.025004]	[     0.729976     11.        10000.      ]
21 	20    	[ 0.719785  9.84      0.08339 ]         	[ 0.018242  0.417612  0.009287]         	[ 0.601238  8.        0.075217]            	[  0.733384  10.         0.135592]
22 	29    	[-199.291276    9.88      200.081414]   	[ 1400.101246     0.430813  1399.988369]	[-10000.            8.            0.057088]	[     0.733384     11.        10000.      ]
23 	37    	[-599.32235     9.78      600.078863]   	[ 2375.039623     0.729109  2374.848493]	[-10000.            7.            0.074806]	[     0.733384     12.        10000.      ]
24 	29    	[-399.304292    9.76      400.079877]   	[ 1959.733805     0.68      1959.575489]	[-10000.            9.            0.074806]	[     0.733384     13.        10000.      ]
25 	32    	[ 0.722233  9.52      0.086099]         	[ 0.018009  0.538145  0.010553]         	[ 0.603252  8.        0.077715]            	[  0.733384  10.         0.147417]
26 	26    	[-199.295211    9.5       200.090287]   	[ 1400.100684     0.640312  1399.987102]	[-10000.            8.            0.020249]	[     0.733384     12.        10000.      ]
27 	35    	[-799.340066    9.48      800.082374]   	[ 2713.126597     0.699714  2712.907703]	[-10000.            8.            0.018009]	[     0.733384     11.        10000.      ]
28 	25    	[-399.304236    9.36      400.086361]   	[ 1959.733816     0.591946  1959.574166]	[-10000.            8.            0.077826]	[     0.733384     11.        10000.      ]
29 	20    	[-799.331254    9.42      800.080373]   	[ 2713.129196     0.635295  2712.908293]	[-10000.            9.            0.077826]	[     0.733384     11.        10000.      ]
30 	25    	[-599.319375    9.2       600.084483]   	[ 2375.040374     0.69282   2374.847073]	[-10000.            7.            0.079039]	[     0.733384     12.        10000.      ]
31 	25    	[-199.290749    9.04      200.087715]   	[ 1400.101322     0.445421  1399.987469]	[-10000.            7.            0.015984]	[     0.733384     11.        10000.      ]

In [ ]:
print(selector.support_)

[ True False False False False  True False False False False False  True
  True False  True  True  True False  True False False False  True]